/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    /*background-color: #333;*/
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: 1920px 1080px;
    font-family: Helvetica Neue, sans-serif; /*,Helvetica,Arial,sans-serif !important;*/
    font-size: 36px !important;
    font-weight: lighter !important;
    line-height: 60px;
    /*letter-spacing: 5px;*/
}

body {
    color: #fff;
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

/*
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
*/

.cover-container {
    margin-right: auto;
    margin-left: auto;
    /*width: 1454px !important;*/
    /*height: 775px !important;*/
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #B6B6B6;*/
}

.intro-text {
    width: 1509px;
    height: 240px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    color: #6377C4;
    margin-top: 140px;
    margin-left: 100px;
    float: left;
}

#analyze-me {
    width: 260px;
    height: 70px;
    line-height: 70px;
    color: #5d5d5d;
    text-align: center;
    background-color: rgba(30, 59, 178, 0.65);
    padding: 10px;
}

#analyze-me a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 26px;
    color: white;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.landing-text {
    width: 947px;
    height: 112px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #1e3bb2;
    margin-top: 140px;
    margin-left: 100px;
    float: left;
}


/* Padding for spacing */
.inner {
    padding: 30px;
    margin-top: 380px;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 450px;
}

#sidebar-wrapper {
    position: fixed;
    left: 450px;
    width: 0;
    height: 100%;
    margin-left: -450px;
    overflow-y: auto;
    background: rgba(250, 250, 250, 0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 26px;
    text-align: left;
    color: #616884;
    z-index: 100000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 450px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -450px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 30px;
    width: 450px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin-top: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #616884;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    /*font-size: 18px;*/
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 100px) {
    #wrapper {
        padding-left: 450px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 450px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

/*@media (min-width: 992px) {*/
/*.cover-container {*/
/*width: 700px;*/
/*}*/
/*}*/

/* hamburger icon */
/* Icon 1 */

#nav-icon1 {
    z-index: 10000;
    width: 50px;
    height: 38px;
    position: relative;
    margin: 50px 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    z-index: 100000;
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
    z-index: 100000;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
    z-index: 100000;
}

#nav-icon1 span:nth-child(3) {
    top: 30px;
    z-index: 100000;
}

#nav-icon1.open span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 100000;
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    z-index: 100000;
}

#nav-icon1.open span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    z-index: 100000;
}

.naive {
    top: 45px;
    position: absolute;
    margin-left: 150px;
    z-index: 10000;
}

.naive a {
    color: #1e3bb2;
    font-weight: bold;
}

.naive:hover {
    color: white;
    text-underline: none;
}

.naive a:hover {
    text-underline: none !important;
}

#questions-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #6377C4;
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 300px;
    font-size: 30px;
    font-weight: bold;
}

#privacy-terms {
    font-size: 16px;
    color: #6377C4;
    text-align: left;
    padding-left: 350px;
    float: left;
}

#submit-button button {
    float: right;
    margin-right: 400px;
    background-color: #6377C4;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 26px;
}

#graphics-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #6377C4;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 200px;
}

#graph1 {
    /* 414x572  */
    width: 414px;
    height: 572px;
    margin-right: 100px;
}

#graph2 {
    /* 414x572  */
    width: 414px;
    height: 572px;
    margin-left: 100px;
}